<style>
	p {
	    margin-bottom: 20px;
	}

	h4 {
	    margin-top: 30px;
	    margin-bottom: 20px;   
	}   

	h5 {
	    margin-bottom: 20px;
	}

	ul.ul-creators li {
	    margin-bottom: 15px;
	}
</style>

<div style="width:55%; margin:30px auto;">
    <div class="row" style="margin-bottom:50px;">
		<div class="col-md-3" align="center"><a href="#rating">про суть рейтинга</a></div>
		<div class="col-md-3" align="center"><a href="#criteria">про критерии оценки</a></div>
		<div class="col-md-3" align="center"><a href="#creators">про создателей</a></div>
		<div class="col-md-3" align="center"><a href="#contact">написать нам</a></div>
	</div>
	
	<h1 align="center" style="margin-bottom:50px;">Цель проекта ПроСериалы – сберечь время аудитории и позволить провести его с максимальной пользой.</h1>

	<p>
		Если верить <a target="_blank" href="http://www.imdb.com/stats">IMDB</a>, на сегодняшний день
        в мире снят 114 221 телевизионный сериал. Наши эксперты посмотрели не менее 150 англоязычных
		сериалов каждый, в том числе, все сериалы, которые в силу тех или иных причин на слуху.
		Ежегодно выходит примерно 250 сериалов, и чтобы получить собственное мнение о каждом из них,
		зрителю придётся потратить минимум неделю непрерывного просмотра, даже если смотреть всего
		одну серию каждого.
	</p>

	<p>
		Рейтинг – это субъективный показатель, демонстрирующий восприятие какой-либо реальности
		индивидуумом или группой в конкретный момент времени, поэтому рейтинг ПроСериалы максимально
		предвзят, необъективен и спорен: он составляется крайне узкой группой экспертов, каждый
		из которых заслужил репутацию и теперь беззастенчиво этим пользуется. 
	</p>

	<h4 id="rating" class="section"><b>Суть рейтинга:</b></h4>

	<p>
		ПроСериалы предлагают три рейтинга, которые позволят сориентироваться в вале кинопродукции:
		<ul>
			<li>Рейтинг "Для девочек" – условный Мир в "Войне и мире" Льва Толстого, уделяет большее
				внимание отношениям. Пример: Sex and the City.</li>
			<li>Рейтинг "Для мальчиков" –  условная Война в "Войне и мире" Льва Толстого, уделяет большее
				внимание действиям. Пример: Breaking Bad.</li>
			<li>Рейтинг "Для киноманов" – условные Канны в мире "Эмми" и "Оскара", уделяет большее внимание
				деталям и находкам. Пример: Twin Peaks.</li>
        </ul>
		ПроСериалы не будут вводить возможность пользовательского голосования, поскольку дублировать
	    существующие сервисы нет никакого желания. 
	</p>

	<h4 id="criteria" class="section"><b>Наши критерии:</b></h4>

	<h5><b>1. Динамизм.</b></h5>

	<p>
        Оценивается количество пустого пространства и затянувшихся пауз в сериале. Если за время, пока
		капля крови из головы раненого бойца достигнет художественно замёрзшей почвы, вы успеваете
		поставить чайник, заварить чай и доесть почти все ватрушки, это не динамичный сериал. Endeavour
		в данном случае получает 3, а Luther – 9.
    </p>

	<h5><b>2. Реалистичность.</b></h5>

	<p>
		В данном случае оценивается не реальность происходящего (ведь тогда у фильмов про вампиров
		не было бы шансов), а соответствие происходящего на экране базовым законам логики, физики
		и прочих естественных дисциплин, принимая во внимание рамки придуманной сценаристами Вселенной.
		Если нас окружают зомби, они должны интересоваться нашими мозгами, а не пытаться украсть
		у нас "Хэппи Мил", кетчуп и картошку фри. Fargo заслуживает 3, а American Crime Story – 9.
	</p>

	<h5><b>3. Оригинальность.</b></h5>

    <p>
		Показатель новизны в жанре, стиле, сюжете. Соответствует критериям отбора в номинацию:
		"Оскар: оригинальный сценарий". Если вас преследует дежа вю, и Прекрасный принц уже целовал
		Спящую красавицу в сериале, который вы смотрели год назад, но не в губы, а в щёку, и не в хрустальном
		гробу, а в гробу из гжели, этот сюжет оригинальным уже не назовешь. Two and a Half Men
		заработают 3, а American Gods – 10.
	</p>

	<h5><b>4.Вовлечённость.</b></h5>

	<p>
		Показатель насколько сериал затягивает зрителя, индекс необходимости немедленно посмотреть
		следующую серию, ключевой признак того, что во время просмотра нет желания отвлекаться
		на что-либо ещё. Ваши дети не выгуляны, растения не помыты, а у щенка вы забыли проверить
		уроки – верные приметы затягивающего сериала. Glee в данном случае заслуживает 3, а The OA – 9.
	</p>

	<h5><b>5. Картинка.</b></h5>

	<p>
		Собирательная оценка происходящего в кадре по красоте. Не включает актёров, только
		художественная ценность заставки, пейзажей, декораций, графики. Тут всё просто: если
		картинка на экране соответствует пейзажу за окном в Нижневартовске в ноябре, а в сюжете нет
		речи об Острых Козырьках Нижневартовска, значит, тут что-то не так. Horace and Pete в данном
		случае получает 3, а Game of Thrones – 10.
	</p>

	<h5><b>6. Актёрский состав.</b></h5>

	<p>
		Оценка как звёздности состава, так и актёрской игры. Если вы не узнаете никого, но всё равно
		сопереживаете героям и готовы вместе с ними отравить ненавистную тёщу, а раненого кролика нести
		на себе 10 километров до ближайшей больницы, сериал получит высокую оценку в этом пункте.
		Girlboss получает 4, а Big Little Lies –10.
	</p>

    <h5><b>7. Музыка.</b></h5>

	<p>
		Тема с заставки, музыкальное оформление серий, соответствие ритма сюжету, да и просто,
		запоминается музыка в этом сериале или нет – вот наши критерии оценки. Если вы запускаете
		Shazam / SoundHound, чтобы узнать, что за трек звучит, пока герой делает утреннюю зарядку
		на свежем воздухе, или, напротив, крадётся в ночи к холодильнику, значит, с музыкой здесь
		всё хорошо. Weeds зарабатывает 3, Shameless – 10.
	</p>

	<h5><b>8. Юмор.</b></h5>

	<p>
		Он есть не только в комедийных сериалах. Командир космического корабля может весь сезон
		покорять Вселенную на сложных щах, а может и отпустить пару шуток, положить кнопку на стул
		космонавту в скафандре, и того потом смешно разорвёт в космосе. В общем, если во время
		просмотра true drama вы смогли ещё и посмеяться, значит, юмор есть. Homeland получит
		не больше 5, а Fringe – 9.
	</p>

	<h4 id="creators" class="section"><b>Про создателей:</b></h4>

	<p>
        Достаточно сложно писать про себя, когда основное время уходит на написание рекомендаций про
		сериалы, но мы понимаем, что нужно представиться:
		<ul style="list-style-type: none;" class="ul-creators">
			<li><b>Cepylka</b> – мастер люстры, специализируется на редких находках, в ПроСериалах отвечает за эстетическую составляющую рейтингов.<br/>
			<i>Любимые сериалы всех времён и народов – Рабыня Изаура, Интерны и Bull.</i></li>
			<li><b>Ripley</b> – старшая по Чужим, любит фантастические сериалы и гангстерские саги,
			в ПроСериалах отвечает за женский взгляд на рейтинг.<br/>
			<i>Любимые сериалы всех времён и народов – The Wire, The Sopranos и Alf.</i></li>
			<li><b>Spiteful</b> – мальчик по вызову, смотрит всё подряд, в ПроСериалах отвечает
			за мужской взгляд на рейтинг.<br/>
			<i>Любимые сериалы всех времён и народов – The Wire, The Newsroom и House MD.</i></li>
		</ul>
	</p>

	<h4 id="contact" class="section"><b>Остались вопросы или есть предложения?<br/>Напиши нам.</b></h4>

	<div class="under-construction">
		И тут такая форма обратной связи.
	</div>
</div>
