<div style="background-color:#edeff5; color: #000000;">
    <div style="width:50%; margin:0 auto; padding-top:70px; padding-bottom:70px;" align="center">
	    <p style="font-size:200%; margin-bottom:30px;"><b>НАШ РЕЙТИНГ СЕРИАЛОВ НЕВЕРОЯТНО ПРЕДВЗЯТ, НЕОБЪЕКТИВЕН И СПОРЕН</b></p>
		<p style="font-size:150%; margin-bottom:30px;">Наши эксперты уже всё выбрали за вас</p>
		<input type="button" class="btn" value="КАК МЫ СОСТАВЛЯЕМ РЕЙТИНГ"></input>
	</div>
</div>
<hr class="hr-main"/>
<hr class="hr-main"/>
<hr class="hr-main"/>