<div class="container">
    <h2 style="margin-top:50px; margin-bottom:30px;">Oopsy, Daisy!</h2>
    <h4>На сайте что-то сломалось.</h4>
	<p>Скорее всего, мы уже об этом знаем и ремонтируем, но можете всё же
	<a style="text-decoration:underline;" href="/Home/About#contact">сообщить нам</a> на всякий случай.</p>
	<p>Новости/объявления должны появиться в <a style="text-decoration:underline;" href="https://twitter.com/protvshows">Твиттере</a>.</p>
	<!--<h2 style="margin-top:50px; margin-bottom:30px;">@ViewData["message"]</h2>   
    <h3>Status Code: @ViewData["statusCode"]</h3>
    <div><pre>@ViewData["stackTrace"]</pre></div>-->
</div>